html, body {
    height: 100%;
    margin: 0;
}
.container {
    display: grid;
    height: 500px;
    width: 500px;
    margin: auto;
    border: 1px solid black;
    align-items: stretch;
}
.square {
    flex: 1;
    border: .5px solid blue;
}